cool! so <%= name %> what color is your hair?

<form method = "post" action = '/hair_color'>

<input type = "text" name = "user_hair">
<input type = "hidden" name = "user_name" value = <%= name %>>

<input type = "submit">
</form>
